/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
}


/*Custom CSS*/

:root {
    /*font families*/
    --ff-Barlow: 'Barlow', sans-serif;
    /*h1,h2*/
    --ff-Fraunces: 'Fraunces', serif;
    /*font sizes*/
    /*h1*/
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h2-m: 1.25rem;
    --fs-h2-s: 1.75rem;
    --fs-h2-xs: 1rem;
    --fs-p: 1.125rem;
    --fs-p-s: 0.9375rem;
    /*colors*/
    --clr-white: hsl(0, 0%, 100%);
    --clr-vd-desaturated-blue: hsl(212, 27%, 19%);
    --clr-vd-grayish-blue: hsl(213, 9%, 39%);
    --clr-d-grayish-blue: hsl(232, 10%, 55%);
    --clr-grayish-blue: hsl(210, 4%, 67%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-yellow-tr: hsla(51, 100%, 59%, 30%);
    --clr-red: hsl(7, 99%, 70%);
    --clr-red-tr: hsla(7, 99%, 70%, 30%);
    --clr-d-desaturated-cyan: hsl(167, 40%, 24%);
    --clr-d-blue: hsl(198, 62%, 26%);
}

a:visited {
    color: hsl(212, 27%, 19%);
}

main {
    display: grid;
    grid-template-rows: repeat(7, auto);
    text-align: center;
}

h1 {
    font-family: var(--ff-Fraunces);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: var(--fs-h1);
    text-align: center;
    letter-spacing: 0.375rem;
    line-height: 3rem;
    margin-bottom: 3.5rem;
}

h2 {
    font-family: 'Fraunces', sans-serif;
    font-size: var(--fs-h2);
    font-weight: 900;
    color: var(--clr-vd-desaturated-blue);
    margin: 4.375rem 0 2.25rem 0;
    padding: 0 1.5rem;
}

p {
    font-family: 'Barlow', sans-serif;
    padding: 0 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    font-size: var(--fs-p);
    color: var(--clr-d-grayish-blue);
}

#hero {
    background-image: url(./images/mobile/image-header.jpg);
    background-position: bottom;
    text-align: center;
    background-size: cover;
    padding-bottom: 8.25rem;
}

#transform img,
#stand-out img,
#graphic-design img,
#photography img {
    width: 100%;
}

#transform p,
#stand-out p {
    padding-bottom: 3rem;
}

#transform,
#stand-out {
    padding-bottom: 4.375rem;
}

#transform a,
#stand-out a {
    text-transform: uppercase;
    font-family: var(--ff-Fraunces);
    text-decoration: none;
    font-weight: 900;
}

#transform a::after,
#stand-out a::after {
    z-index: -1;
    display: block;
    content: '';
    width: 125px;
    border-radius: 4px;
    height: 8px;
    position: relative;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

#transform a::after {
    background-color: var(--clr-yellow-tr);
}

#transform a:hover::after {
    background-color: var(--clr-yellow);
}

#stand-out a::after {
    background-color: var(--clr-red-tr);
}

#stand-out a:hover::after {
    background-color: var(--clr-red);
}

#graphic-design {
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-position: top;
    background-size: cover;
    padding-bottom: 3.5rem;
}

#graphic-design h2 {
    color: var(--clr-d-desaturated-cyan);
    font-size: var(--fs-h2-s);
    text-transform: capitalize;
    padding-top: 25rem;
}

#graphic-design p {
    color: var(--clr-d-desaturated-cyan);
    font-size: var(--fs-p-s);
}

#photography {
    background-image: url(./images/mobile/image-photography.jpg);
    background-position: top;
    background-size: cover;
    padding: 25rem 0 3.5rem 0;
}

#photography h2 {
    color: var(--clr-d-blue);
    font-size: var(--fs-h2-s);
    text-transform: capitalize;
}

#photography p {
    color: var(--clr-d-blue);
    font-size: var(--fs-p-s);
}

#testimonials {
    padding-top: 4.25rem;
    padding-bottom: 5.75rem;
}

#testimonials li {
    padding-top: 4.25rem;
}

#testimonials h2 {
    text-transform: uppercase;
    font-size: var(--fs-h2-xs);
    color: var(--clr-grayish-blue);
    margin-bottom: 4.125rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    margin-top: 0;
}

#testimonials img {
    width: 4.5rem;
    border-radius: 50%;
}

#testimonials blockquote {
    padding: 2.5rem 1.5rem 2.75rem 1.5rem;
    font-family: var(--ff-Barlow);
    font-size: var(--fs-p);
    color: var(--clr-vd-grayish-blue);
}

#testimonials figcaption {
    font-family: var(--ff-Fraunces);
    font-size: var(--fs-p);
    font-weight: 900;
    color: var(--clr-vd-desaturated-cyan);
    line-height: 1.5;
}

#testimonials figcaption>span {
    font-family: var(--ff-Barlow);
    font-size: var(--fs-p-s);
    color: var(--clr-grayish-blue);
}

#illustrations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#illustrations img {
    width: 50vw;
}

.navbar {
    padding: 2.25rem 1.5rem 6.125rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: none;
}